.Chat {
  display: flex;
  font-size: 0.95rem;
  font-weight: 200;
  text-align: left;
  &:hover {
    background-color: darkkhaki;
  }

  &.right {
    justify-content: flex-end;
    .bubble {
      margin: 5px 15px 5px 10px;
      // border: 1px solid black;

      color: white;
      position: relative;
      background-color: rgb(20, 136, 255);
      max-width: 60%;
      padding: 6px 10px;
      border-radius: 15px;
      // border: 1px solid #ccc;
      word-wrap: break-word;

      // &.right::before {
      //   content: '';
      //   position: absolute;
      //   visibility: visible;
      //   top: -1px;
      //   right: -10px;
      //   border: 10px solid transparent;
      //   border-top: 10px solid #ccc;
      // }

      // &.right::after {
      //   content: '';
      //   position: absolute;
      //   visibility: visible;
      //   top: 0px;
      //   right: -8px;
      //   border: 10px solid transparent;
      //   border-top: 10px solid rgb(20, 136, 255);;
      //   clear: both;
      // }
    }
  }

  &.left {
    justify-content: flex-start;
    .bubble {
      margin: 5px 10px 5px 15px;
      // border: 1px solid black;
  
      color: rgb(26, 26, 28);
      position: relative;
      background-color: rgb(233, 233, 235);
      max-width: 60%;
      padding: 6px 10px;
      border-radius: 15px;
      // border: 1px solid #ccc;
      word-wrap: break-word;
    }

    // &.right::before {
    //   content: '';
    //   position: absolute;
    //   visibility: visible;
    //   top: -1px;
    //   right: -10px;
    //   border: 10px solid transparent;
    //   border-top: 10px solid #ccc;
    // }

    // &.right::after {
    //   content: '';
    //   position: absolute;
    //   visibility: visible;
    //   top: 0px;
    //   right: -8px;
    //   border: 10px solid transparent;
    //   border-top: 10px solid rgb(20, 136, 255);;
    //   clear: both;
    // }
  }
}