.HeaderProfile {
  position: realtive;
  z-index: 1000;
  background-color: rgb(241, 241, 241);
  height: 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: 3px solid rgb(236, 236, 236);
  .profileImage {
    img {
      width: 50px;
      border-radius: 50%;
    }
  }
  .profileName {
    font-size: .85rem;
    .typedName {
      display: inline-block;
    }
    .arrow {
      color: rgb(168, 170, 172);
    }
  }
}